@page
@model Medical_Store_EF.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock_Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Order.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock_Order.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Order.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock_Order.Stock.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Order.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock_Order.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Order.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock_Order.Client.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock_Order.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock_Order.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
